doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Teknologi Kolaborasi Pengembangan Perangkat Lunak

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Team : "Amateurs"
        h2 Nama Anggota:
        ul
          li Rikson Simanjuntak (131113379)
          li Joel Pardede (131112942)
          li Vanuriel (131111271)

      section
        h1 Narkoba
        

      section
        h2 Pengertian Narkoba
        h3 Narkoba merupakan  singkatan dari  narkotika, psikotropika dan bahan adiktif.
        h3 Narkoba adalah obat, bahan, zat dan bukan tergolong makanan jika diminum, dihisap, ditelan, atau disuntikkan dapat mennyebabkan ketergantungan dan berpengaruh terhadap kerja otak, demikian pula fungsi vital organ tubuh lain (jantung, peredaran darah, pernapasan, dll). 

      section
        h2 1. Narkotika
        h3 Menurut UU No. 22 Tahun 1997, pengertian Narkotika adalah zat atau obat yang berasal dari tanaman atau bukan tanaman baik sintetis maupun semi-sintetis yang dapat menyebabkan penurunan atau perubahan kesadaran, hilangnya rasa, mengurangi sampai menghilangkan rasa nyeri, dan dapat menimbulkan ketergantungan.

      section
        h3 Menurut undang-undang, narkotika dibagi menurut potensi ketergantungannya sebgai berikut:
        ul
          li Narkotika Golongan I: berpotensi sangat tinggi menyebabkan ketergantungan, tidak digunakan dalam terapi. Contoh: Heroin, Kokain, Ganja, Putaw (Heroin tidak murni berupa bubuk).
          li Narkotika Golongan  II: berpotensi tinggi menyebabkan ketergantungan, digunakan dalam terapi. Contoh: Morfin dan Petidin.
          li Narkotika Golongan  III: berpotensi ringan menyebabkan ketergantungan, banyak digunakan dalam terapi. Contoh: Kodein.

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')