doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Teknologi Kolaborasi Pengembangan Perangkat Lunak
    link(rel='stylesheet', type='text/css', href='build/build.css')
  body
    article
      section
        h1 Team : "Amateurs-2"
        h2 Nama Anggota:
        ul
          li Rikson Simanjuntak (131113379)
          li Joel Pardede (131112942)
          li Vanuriel (131111271)
      section
        h1 Tahukah Kamu?
      section
        h2 Penemu Email: Ray Tomlinson
        img(src='Email.jpg')
        h3
          | Raymond Tomlinson lahir pada tahun 1941. Dia lahir di wilayah pinggir kota Amsterdam yang tentu ada di New York, Amerika Serikat (AS).
        p
          a(href='http://www.penemu.co/2015/06/penemu-email-ray-tomlinson.html') Selengkapnya...
      section
        h2 Penemu Handphone: Martin Cooper
        img(src='Handphone.jpg', height='250px', width='auto')
        h3
          | Martin Marty Cooper dilahirkan tanggal 26 Desember 1928 di Chicago, Illinois, USA
        p
          a(href='http://www.penemu.co/2011/09/penemu-handphone_20.html') Selengkapnya...
      section
        h3 Penemu Mobil : Gottlieb Daimler
        img(src='Mobil.jpg', height='250px', width='auto')
        h3
          | Mobil Daimler yang pertama ditenagai dengan kekuatan enam tenaga kuda yang kemudian ia jual kepada pangeran Wales. kemudian pada tahun 1895 Mobil yang bernama 'Benzine Buggy". Gottlieb Daimler kemudian meninggal dunia pada tahun 1900 pada usia enam puluh enam.
        p
          a(href='http://www.penemu.co/2013/12/penemu-mobil-gottlieb-daimler.html') Selengkapnya...
      section
        h3 Penemu Radioaktif : Antoine Henri Becquerel
        img(src='radioaktif.jpg', height='250px', width='auto')
        h3
          | Antoine Henri Becquerel tercatat sebagai penemu Radioaktif. Lahir di Paris tahun 1852. Pendidikannya baik, dapat gelar doktor tahun 1888. Tahun 1892 dia jadi gurubesar fisika praktis di Musium Sejarah Alam (Musee d’ Histoire Naturelle) di Paris
        p
          a(href='http://www.penemu.co/2011/09/penemu-radioaktif-antoine-henri.html') Selengkapnya...
      section
        h3 Penemu Bom Hidrogen : Edward Teller
        img(src='hidrogen.jpg', height='250px', width='auto')
        h3
          | Edward Teller lahir Teller Ede di Budapest, Austria-Hongaria, 15 Januari 1908, merupakan penemu Bom Hidrogen. Pada 1939
        p
          a(href='http://www.penemu.co/2011/09/penemu-bom-hidrogen-edward-teller.html') Selengkapnya...
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3
          | Powered by 
          a(href='https://github.com/markdalgleish/bespoke-backdrop') bespoke-backdrop
      section
        h2.bullet Just the beginning...
        br
        ul
          li
            | Edit 
            a(href='http://jade-lang.com/') Jade
            |  markup in 
            em 'src/index.jade'
          li
            | Edit 
            a(href='http://learnboost.github.io/stylus/') Stylus
            |  styles in 
            em 'src/styles/main.styl'
          li
            | Edit JavaScript in 
            em 'src/scripts/main.js'
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish
    script(src='build/build.js')
